.main{
    width: 100%;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.navbar{
    width: 95%;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}